<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="top">
      <h5 class="bg-light mt-3 d-inline-flex px-3">商品一覧</h5>
      <%= link_to "＋" ,'/admin/items/new',class:"float-right mt-3" %>
      </div>
      <table>
        <thead>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </thead>
        <% @items.each do |item| %>
        <tbody>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td><%= item.is_active %></td>
        </tbody>
        <% end %>
      </table>
      
      
      
    </div>
  </div>
</div>
