<div class="container">
  <div class="row mt-5">
   <div class="col-3">
     <%= render 'layouts/genre', genres: @genres %>
   </div>
   <div class="col-9 pt-3 mt-5">
     <p class="border border-dark border-bold py-5 text-center">ようこそながのCAKEへ！<br>このサイトは、ケーキ販売のECサイトになります。<br>
     会員だけでない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
    <h5 class="font-weight-bold align-bottom">新着商品</h5>

      <div class="row">
      <% @item.last(4).each do |item| %>
        <div class="itembox col-3">
         <table>
           <tr class="p-1">
             <th><%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(130,180),:size => '130x180',class:" " %> 
              <% end %></th>
           </tr>
           <tr>
             <th><%= item.name %></th>
           </tr>
           <tr>
             <th>¥<%= item.price %></th>
           </tr>
         </table>
       　</div>
         <% end %>
       </div>
    </div>
  </div>
<%= link_to "全ての商品を見る >",items_path,class:"d-flex justify-content-end" %>
</div>