<div class="container">
  <div class="row">
    <div class="col-12">
     <h5 class="d-inline-flex bg-light mt-5 px-3">ジャンル一覧・追加</h5> 
     
     <%= form_with model:@genre,url:'/admin/genres',method: :post do |f| %>
     <div class="field ">
       <label class="genre ">ジャンル名</label>
       <%= f.text_field:name,class:"form-control w-25" %>
     
     <%= f.submit '新規登録',class:"btn-success" %>
     <% end %>
      </div>
      <table class="w-25">
      <thead class="bg-light ">
         <th class="mr-5">ジャンル</th>
         <th colspan="3" class="colspan ml-5"></th>
       </thead>
      <% @genres.each do |genre| %>
       <tbody>
         <td><%= genre.name %></td>
         <td ></td>
         <td></td>
         <td><%= link_to "編集" , edit_admin_genre_path(genre) , class:"btn-success"  %></td>
       </tbody>
       </table>
      <% end %>
      
      
      
    </div>
  </div>
</div>
