<div class="container">
<h5 class="bg-light d-inline-flex px-4 my-4">新規会員登録</h5>
<div class="row">
 <div class="col-auto"></div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
</div>

  <div class="form-group row mb-3">
    <label class="col-3">名前</label>
    <div class="col-4 col-sm-auto d-inline-flex">
    <label>(姓)　</label>
    <%= f.text_field :first_name, placeholder: "令和" %>
    </div>
    <div class="col-4 col-sm-auto d-inline-flex">
    <label>(名)　</label>
    <%= f.text_field :last_name, placeholder: "花子" %>
    </div>
  </div>

  <div class="form-group row mb-3">
    <label class="col-3">フリガナ</label>
    <div class="col-4 col-sm-auto d-inline-flex">
    <label>(セイ)</label>
    <%= f.text_field :first_name_kana ,placeholder: "レイワ" %>
    </div>
    <div class="col-4 col-md-auto d-inline-flex">
    <label>(メイ)</label>
    <%= f.text_field :last_name_kana, placeholder: "ハナコ" %>
    </div>
  </div>

  <div class="form-group row mb-3 ">
    <label class="col-3  mr-1">メールアドレス</label>
    <div class="col-4 ml-2 pl-1 px-5">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "name@example.com" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-3  ">郵便番号(ハイフンなし)</label>
    <div class="col-4 ml-5 c">
    <%= f.text_field :postal_code ,placeholder: "0000000" %>
    </div>
  </div>
  <div class="form-group row ">
    <label class="col-3 col">住所</label>
    <div class="col-6 ml-5 ">
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0−0",class:"w-100" %>
    </div>
  </div>
  <div class="from-group row mb-3">
    <label class="col-3">電話番号</label>
    <div class="col-4 ml-5">
    <%= f.text_field :telephone_number, placeholder: "0000000000" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-3">パスワード(６文字)</label>
    <% if @minimum_password_length %>
    <% end %>
    <div class="col-4 ml-5">
    <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="form-group row ">
    <label class="col-3">パスワード(確認用)</label>
    <div class="col-4 ml-5">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="actions row">
    <div class="col-3 ml-5 mr-3"></div>
    <%= f.submit "新規登録",class:"btn btn-success btn-sm px-5 font-weight-bold" %>
  </div>
<% end %>





<h5 class="d-inline-flex bg-light px-4 ml-4 mt-3">既に登録済みの方</h5>
<div class="row ">
<div class="col-12 ml-5 ">
<p class="d-inline-flex mt-2"><span><%= render "public/shared/links" %></span>　からログインしてください。</p>
</div>
</div>
</div>