<div class="container">
  <h5 class="bg-light d-inline-flex px-4 my-4 ml-4">注文履歴一覧</h5>
  <div class="row">
    <div class="col-md-12 col-sm-9 mx-auto">
      <table class="table-bordered mx-auto">
        <thead class="bg-light">
          <th class="p-2">注文日</th>
          <th style="width: 40%">配送先</th>
          <th style="width: 16%">注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </thead>
        <% @orders.each do |order| %>
        <tbody>
          <td class="mx-4"><%= order.updated_at.strftime('%Y/%m/%d') %></td>
          <td>〒<%= order.postal_code %><br><%= order.address %><br><%= order.name %></td>

          <td><% order.order_details.each do |order_detail| %>
          <%= order_detail.item.name %></br>
          <% end %>
          </td>
          <td><%= order.total_payment.to_s(:delimited) %>円</td>
          <td><%= order.status_i18n %></td>
          <td class="px-3"><%= link_to "表示する" ,order_path(order.id),class:"btn btn-primary btn-sm" %></td>
        </tbody>

        <% end %>
      </table>
    </div>
  </div>
</div>