<div class="container">
  <h5 class="bg-light d-inline-flex px-4 my-4 ml-4">注文情報入力</h5>
  <div class="row">
    <div class="col-12">
    <%= form_with model:@order,url: orders_confirm_path,method: :post do |f| %>
    <label class="font-weight-bold">支払方法</label><br>
    <%= f.radio_button :payment_method,"credit_card",class:"ml-3" %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %><br>
      <%= f.radio_button :payment_method, "transfer",class:"ml-3" %>
      <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %><br>

      <label class="font-weight-bold">お届け先</label><br>

      <%= radio_button_tag(:select_address,0,checked: true,class:"ml-3") %>
      <%= f.label(:select_address, "ご自身の住所") %><br>
         <p class="ml-5 my-0 ">〒<%= @customer.postal_code %>　<%= @customer.address %></p>
         <p class="ml-5 "><%= @customer.full_name %></p>

      <%= radio_button_tag(:select_address,1,class:"ml-3") %>
      <%= f.label(:select_address,"登録済みの住所から検索") %><br>
      <%= f.select:address_id, options_from_collection_for_select(Address.all, :id, :address_display),{},{class:"ml-5 w-50 mb-3"} %><br>


      <%= radio_button_tag(:select_address,2,class:"ml-3") %>
      <%= f.label(:selected_address,"新しいお届け先") %><br>
      <label class="ml-5">郵便番号(ハイフンなし)</label>
      <%= f.text_field :postal_code,placeholder: "0000000",class:"ml-1" %><br>
      <label class="ml-5 mr-5 pr-5">住所</label>
      <%= f.text_field :address,placeholder: "東京都渋谷区代々木神園町0-0",class:"ml-5 w-50" %><br>
      <label class="ml-5 mr-5 pr-5">宛先</label>
      <%= f.text_field :name,placeholder: "令和道子",class:"ml-5" %><br>
      <%= f.submit "確認画面へ進む",class:"btn btn-primary d-flex mx-auto" %>

      <% end %>
    </div>
  </div>

</div>