
<div class="container ">
  <div class="row">
    <div class="col-3ml-5 mt-3">
      <%= render 'layouts/genre', genres: @genres %>
    </div>
    <div class="col-7">
       <label class="mt-3"><strong class="h5">商品一覧</strong> 全<%= @items.count %>件</label>


         <div class="">
           <%  @items.each do |item| %>
           <div class="itembox">
             <table class="mr-0" style="table-layout:fixed;">
               <tr >
                 <td style="width:100px;"><%= link_to item_path(item.id) do %>
                     <%= image_tag item.get_image(100,100) %>
                     <% end %></td>
               </tr>
               <tr>
                 <td><%= item.name %></td>
               </tr>
               <tr>
                 <td><%=  item.with_tax_price %></td>
               </tr>
                 
             </table>
           </div>
           <% end %>


         </div>

</div>
  </div>
</div>
  <div class="mx-auto"><%= paginate @items %></div>






